body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #444;
    padding: 10px 0;
}
nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}
main {
    padding: 20px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}
nav a:hover{
    background-color: white;
    color: black;
    border-radius: 5px;
}
.slideshow-container {
    max-width: 100px;
    position: relative;
    margin: auto;
    z-index: -1;
    margin-top: -100px;
}
.slides {
    display: none;
}
.slides img {
    width: 100%;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
.up
{
  /*make it so it has the same aspect but stays as fixed  */
}
#up-button{
    background-color: red;
    border: none;
    border-radius: 10px;
    width: 60px;
    height: 40px;
    color: white;
    position: fixed;
    left: auto;
    right: 0%;
    top: auto;
    bottom: 15%;
    display: none;
}